#ChatList {

    width:20%;
    float: left;
    max-height: 100%;
    height: 100%;
    overflow:hidden;
    padding-left: 1rem!important;
}
.MuiListItem-button {
    font-size: 1.35vw !important;
}
.MuiTypography-body1 {
    font-size: 0.5rem !important;
    font-weight: 400;
}
.MuiButtonBase-root {
    color: #0b396c !important;
    text-decoration: none !important;
}